:global(.vtex-flex-layout-0-x-flexRow--white) {
    background-color: #fff !important;
}
:global(.vtex-slider-layout-0-x-slide--shelf) {
    border: 1px solid #c3c3c3 !important;
    border-radius: 10px;
    margin: 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--catalogo--one) {
    background: #fff !important;
    padding: 10px !important;
}

:global(.vtex-store-components-3-x-form) {
    display: flex;
    color: #fff !important;
    max-width: 60rem;
}

:global(.vtex-store-components-3-x-newsletter) {
    background-color: #5b696f !important;
}

:global(.vtex-store-components-3-x-inputGroup) {
    padding-top: 0 !important;
    padding-left: 30px;
    font-size: 1.3rem;
}

:global(.vtex-styleguide-9-x-input) {
    border-bottom-left-radius: 2.25rem;
    border-top-left-radius: 2.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 14px;
}

:global(.vtex-styleguide-9-x-input)::placeholder {
    color: #0b5aa8;
}

:global(.vtex-input-prefix__group) {
    border: none;
}

:global(.vtex-store-components-3-x-buttonContainer) {
    padding-left: 0;
}

:global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button) {
    border-bottom-right-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #fb0003;
    background-color: #fff;
    border: none;
}

:global(.vtex-flex-layout-0-x-flexRow--producto) {
    background-color: #fff !important;
}